/*  */
.autobid-breadcrumbs {
    padding: 50px 0 0px;
    background: #F2F2F2;
}
.container{
    position:relative;
    width:750px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container::before{
    content: " ";
    display: table;
}
.container::after{
    clear:both
}
.col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}
.breadcrumbs li {
    display: inline-block;
}
.autobid-breadcrumbs .breadcrumbs .active {
    color: #999999;
}
.breadcrumbs .active {
    margin-left: 4px;
    margin-right: 5px;
}
.breadcrumbs li {
    display: inline-block;
}
.autobid-breadcrumbs .row{
    position:absolute;
    left:2%;

    padding-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.autobid-breadcrumbs .row div{
    padding-left: 0px;
    padding-right: 0px;
}
 h2{
    margin:0;
    text-transform: capitalize;
    
    font-size: 26px ;
    line-height: 30px ;
    font-family: Nunito;
    color: #242424;
    font-weight: 800px;
    
    
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    
}


.autobid-breadcrumbs .row::before{
    content: " ";
    display: table;
}
.breadcrumbs a::after{
    content:"/";
    margin-left: 7px;
}
.breadcrumbs .active{
    margin-left: 4px;
    margin-right: 5px;
}
.breadcrumbs > li + li::before {
    content: "";
    padding: 0;
    color: #ccc;
    
}
.autobid-breadcrumbs .breadcrumbs li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
}
.col-md-12::after{
    content:"";
    display:table
}
.autobid-breadcrumbs .breadcrumbs a{
    color: #999999
}
a, a:hover, a:focus{
    text-decoration: none;
    outline: none;
}
.breadcrumbs {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}