.body-container {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 100px;
  }
  
  .sidebar {
    width: 200px;
    margin-left: 8%; /* Adjust the width of the sidebar based on your design */
 
     /* Add padding to the sidebar */
    height: 100%;
    overflow: visible;
     /* Make the sidebar take the full height of its container */
  }
  .sales-orders-products{
    margin-left: 110px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px; /* Add padding to the main content */
  }
  
  .sales,
  .orders,
  .products {
    margin-bottom: 20px;
  }
  
  .courbe {
    max-width: 400px; /* Adjust the max-width of the "courbe" component */
  }