.container{
    max-height: 600px;
    max-width: 800px;
    display:grid;
    grid-template-columns: 250px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    margin-left: 0; 
    margin-top: 0; 
    overflow:hidden
}
.no-products-container {
    text-align: center;
    padding: 20px;
  }
  
  img {
    width: 100px; /* Adjust the size as needed */
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .add-product-button {
    background-color: #FF2800;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-product-button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
  }
  img {
    display: block;
    margin: 0 auto 20px; /* Center the image and add some margin */
    width: 100px; /* Adjust the size as needed */
  }