.canvas-container {
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Add max-width for responsiveness */
    margin: 20px auto; /* Center the component horizontally with top margin */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Nice box shadow */
    padding: 20px; /* Add padding for a cleaner look */
    position: relative; /* Set position to relative */
  }
  
  .canvas-header {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute; /* Set position to absolute */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    width: 100%; /* Full width of the container */
    background-color: #FF2800; /* Background color for the header */
    color: #fff; /* Text color for the header */
    padding: 10px; /* Add padding for a cleaner look */
    
   
  }
  
  .canvas-header svg {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .canvas {
    position:absolute;
    display: block;
    margin-top: 80px; /* Adjust margin-top to leave space for the header */
    top: 10px;
    left:auto;
    border: 1px solid #ccc; /* Add a border for a neat appearance */
  }