.container {
display: flex;
align-items: center;
justify-content: space-between;
 width: 940px;
 height:817
}

.sidebar {
  flex: 1;
  
  width:159.8px;
  height: 817px;
  padding: 20px;
  box-sizing: border-box;
}

.form-container {
  
  margin: 20px; /* Adjusted margin for the form container */
  margin-left:15%;
  
  width:755px;
  height: 718;
  padding: 20px;
  box-sizing: border-box;
}
.header-container{
  letter-spacing: 1;
  font-size: 26px;
  font-weight: 1000;
}

.names-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
  margin-left: 0;
}

.first-last-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Improved spacing between name and email fields */
  margin-bottom: 15px; /* Increased margin between name and email fields */
}
.first-name label,
.last-name label, .email label{
  width: 263px;
  height: 20.8px;
  font-weight: 500;
}
.first-name span ,
.last-name span,
.email span{
color: #FF0000; 
}
.first-name,
.last-name,
.email {
  min-width: 269px;
  height: 114px;
    overflow: hidden;
   /* Added width to the name and email fields */
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.input-style {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  line-height: normal;
    padding: 15px 20px;
    margin-bottom: 25px;
}
.input-style .email{
  width: 755px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  line-height: normal;
    padding: 15px 20px;
    margin-bottom: 25px;
}
.passwords-btn {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.current,
.new,
.confirm {
  width: 100%; /* Made password input fields full-width */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Increased margin between password input fields */
}

.passwords-btn div label {
  margin-bottom: 12px;
}

.passwords-btn .header {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px; /* Increased margin below the header */
}
.save-changes{
  
  color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a;
    margin-left:8px;
    padding: 15px;
   margin-top: 3px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
}