.my-orders-list {
    
    width:600px;/* Adjust the width as needed */
   /* Add max-width for responsiveness */
    margin: 0 auto; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Nice box shadow */
   
  }
  .list-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    text-transform:uppercase;
    padding: 15px;
    background-color: #FF2800; 
    color: #fff; 
    text-align: start;
    height:45px

  }

  .list-header .txt {
    display:flex;
    align-items: center;
    justify-content:flex-start;
    padding: 15px;
    background-color: #FF2800; 
    color: #fff; 
    text-align: start;
    height:30px;
  }
  .add-product-btn{
    background-color: #FF2800; 
    color: #fff; 
    text-decoration: none;
  }

  .add-product-btn:first-child:hover{
   
    text-decoration: none;
  }
  .list-header h2{
    color: #fff; 
  }
  
  .list-item {
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc; 
    width: 100%; 
    text-align: center;
    list-style: none;
    color: #555;
  }
  .p2{
    font-weight: 500;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);;
  }
  
  .list-item:last-child {
    border-bottom: none; 
  }