.sales-list {
  width:75%; /* Adjust the width as needed */
  max-width: 400px; /* Add max-width for responsiveness */
  margin: 0 auto; /* Center the component horizontally */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Nice box shadow */
}

.sales-list-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Awesome grey border bottom */
}

.sales-list-item:last-child {
  border-bottom: none; /* Remove border on the last item */
}

.name,
.price {
  color: #555; /* Set the color for both name and price to grey */
  margin-bottom: 5px;
  width: 100%; /* Adjust the width as needed */
  text-align: center; /* Center text within each item */
}