/* .numbers{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}
.numbers > span{
    font-size: 40px;
    margin: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.graph{
    background-color: white;
    border-radius: 20px;
    float: left;
    width: 65%;
    height: 200px;
    padding: 10px;
    margin-left: 10px;
}
.rightDivision{
    padding: 10px;
    background-color: white;
    margin-right: 20px;
    border-radius: 20px;
    width: 29%;
    float: right;
    height: 39%;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}   

.profiles{
    margin-top: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
    float: left;
    width: 65%;
    margin-left: 10px;
    height: 200px;
    padding: 10px;
}
.profiles > span{
    font-family: cursive;
    font-size: 20px;
    
}
.tab{
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
color: rgba(90, 91, 92, 0.685);
}
tr::before{
    
    content: "";
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    position: absolute;
    width:60%;
    margin-top: 20px;
    margin-left: 20px;
    left:0;
}
.btnadd{
    width: 130px;
    background-color: rgba(0, 119, 255, 0.637);
    border: none;
    height: 30px;
    color: rgba(255, 255, 255, 0.671);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 60%;
    transition: 1s;
}
.btnadd:hover{
    transition: 1s;
    background-color: rgba(0, 119, 255, 0.945);
    color: whitesmoke;
    cursor: pointer;
}
.container{
    background-color: rgba(128, 128, 128, 0.233);
    height: 900px;
}
.numbers{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}
.numbers > span{
    font-size: 30px;
    margin: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 8px;
    padding: 6px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.562);

}
.graph{
    background-color: white;
    border-radius: 20px;
    float: left;
    width: 65%;
    height: 200px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.562);

}
.rightDivision{
    padding: 10px;
    background-color: white;
    margin-right: 20px;
    border-radius: 20px;
    width: 29%;
    float: right;
    height: 39%;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.562);
}   

.profiles{
    margin-top: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
    float: left;
    width: 65%;
    margin-left: 10px;
    height: 200px;
    padding: 10px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.562);

}
.profiles > span{
    font-family: cursive;
    font-size: 20px;
    
}
.tab{
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
color: rgba(90, 91, 92, 0.685);
}
tr::before{
    
    content: "";
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    position: absolute;
    width:60%;
    margin-top: 20px;
    margin-left: 20px;
    left:0;
}
.btnadd{
    width: 130px;
    background-color: rgba(0, 119, 255, 0.637);
    border: none;
    height: 30px;
    color: rgba(255, 255, 255, 0.671);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 8px;
    margin-left: 60%;
    transition: 1s;
}
.btnadd:hover{
    transition: 1s;
    background-color: rgba(0, 119, 255, 0.945);
    color: whitesmoke;
    cursor: pointer;
} */
.container {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
  }
  
  .mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  
  .checkbox:focus {
    border: none;
    outline: none;
  }
  
  .checkbox:checked {
    right: 10px;
  }
  
  .checkbox:checked ~ .mainbox {
    width: 50px;
  }
  
  .checkbox:checked ~ .mainbox .search_input {
    width: 0;
    height: 0px;
  }
  
  .checkbox:checked ~ .mainbox .iconContainer {
    padding-right: 8px;
  }
  
  .checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
  }
  
  .search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: white;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .search_input::placeholder {
    color: rgba(255, 255, 255, 0.776);
  }
  
  .iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
  }
  
  .search_icon {
    box-sizing: border-box;
    fill: white;
    font-size: 1.3em;
  }