/* scrollbar.css */

/* Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #5d6571;
    /* Adjust color as needed */
}

::-webkit-scrollbar-track {
    background-color: #cbd5e0;
    /* Adjust color as needed */
}

/* Firefox */
scrollbar-width: thin;
scrollbar-color: #4a5568 #cbd5e0;
/* Adjust colors as needed */