.footer-section {
  background-color: black;
  color: #fff;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-3 {
  width: 23%;
}

h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.icon:hover {
  background-color: red;
  opacity: 0.7;
}

.row {
  justify-content: center;
  align-items: center;
 
}

.ft {
  text-align: center; 
}
.pic {
text-align: center;
display: flex;  
}