.container {
    width: calc(100% - 250px);
        margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .add-product {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title-tag {
    display: flex;
    justify-content: space-between;
  }
  
  .general-inputs {
    width: 65%;
  }
  
  .inp {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 13px;
    display: block;
    max-width: 100%;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 4px 15px;
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    background-color: #ffffff;
    color: #555555;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    min-height: 47px !important;
    width: 95% !important;
  }
  
  .category-container {
    display: flex;
    align-items: center;
  }
  
  .category-edit {
    padding: 5px;
    border: 1px solid #EDEDED;
    cursor: pointer;
  }
  
  .category-text {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #EDEDED;
    cursor: pointer;
    width: calc(100% - 30px); /* Adjust width as needed */
  }
  
 .checkbox-with-text {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .checkbox-with-text:not(:last-child) {
    margin-right: 10px; 
  }
  
  .checkbox-with-text input {
    margin-right: 3px;
  }
  
  .checkbox-with-text input {
    margin-right: 3px;
  }
  
  .auction {
    margin-top: 5px;
  }
  
  .image-container {
    width: 30%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .dokan-input-group {
    display: flex;
    align-items: center;
  }
  
  .dokan-input-group-addon {
    
    background-color: #EDEDED; 
    color: #555555;
    padding: 8px;
    border: 1px solid #EDEDED;
    border-radius: 4px 0 0 4px;
  }
 
  
 
  .dokan-input-group input {
    
    width: 20px; 
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
  .short-description {
    margin-top: 20px;
  }
  
  .editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .text-modifiers,
  .text-alignment {
    display: flex;
  }
  
  .text-modifiers > *:not(:last-child),
  .text-alignment > *:not(:last-child) {
    margin-right: 10px;
  }
  
  .text-area {
    width: 100%;
    height: 200px; 
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }
  
  .separator {
    height: 20px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
  }
  .car-attributes {
    height: 60vh;
    margin-top: 20px;
  }
  .grid{
    display: grid;
    gap: 20px; /* Adjust the gap between grids */
    grid-template-columns: repeat(3, 1fr);
  }
  .car-attributes h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
   
    .attributes-grid> * {
       margin-bottom:20px
      }
  
  .select-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px; /* Adjust the margin between select elements */
  }
  
  .select-container::after {
    content: '\25BC'; /* Unicode character for a downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't interfere with the select */
  }
  
  select {
    width: calc(100% - 30px); /* Adjust the width as needed */
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    color: #6c6c6c; 
    cursor:pointer;
  }
  .options-container {
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    padding:35px;
    border-radius: 2px;
    justify-content: space-between;
    height:20px;
    border:solid 1px #6c6c6c;
   
  }

  .options-text {
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .extra-options-text {
    color: #777;
    font-weight: 300;
    margin-left: 10px;
  }

  .arrow {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    cursor:pointer;
  }
  
  .container-options {
    min-width: 1000px;
    
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 1px;
    
  }
  
.nested{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  .nested-div {
    flex: 0 0 48%; 
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    color: #555555;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  textarea {
    /* height: 100px;
    resize: none; */
    height: 100px;
    width:70%;
    margin: auto;
  }

  .extra-container {
    margin-top: 20px;
    margin-left: 20px;
  }
  .save-product{
    float: right;
    margin-top:20px
  }
  .save-product button{
    border-color: #FF2800;
    background-color: #FF2800;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    color: #fff ;
    font-size: 16px ;
    line-height: 1 ;
    padding: 12px 30px ;
    font-weight: 800 ;
    text-transform: capitalize;
    border: 2px solid ;
    border-radius: 5px 
  }