.container{
  display:grid;
  grid-template-columns:250px auto;
  width:auto;
  max-height:350px;
  overflow:hidden;
  
  /* margin-left:30%; */
  /* max-height: ; */
}
.your-component-container {
    max-width: 655,2;
    margin-top:30%;
    margin-left:30%;

    margin: 20px;
  }
  .flex{
    display :flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .status-list {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
  }
  
  .list-item {
    font-size: 12px;
    color: #6d6d6d; /* Green color */
    border-left: 0.5px solid #6d6d6d; /* Lighter green border */
    padding: 5px;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .filter-section {
    margin-top: 20px;
  }
  
  .custom-select {
    border-radius: 5px 5px 0 0;
    border: 1px solid #6d6d6d;
    padding: 5px;
    margin-right: 5px;
  }
  .search-input{
    border: 1px solid #000;
    margin-right: 5px;
    padding: 5px;
    width:70,7px
    
  }
  
  .calendar-input {
    border: 1px solid #6d6d6d;
    margin-right: 5px;
    padding: 5px;
    width:70,7px
  }
  
  .filter-button {
    background-color: #FF2800;
    color: white;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
  }
  
  .awesome-button {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a;
    margin-left:8px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;

  }
  .reset-btn {
    display: flex;
    align-items: center;
  }
  
  .reset-btn button {
    margin-left:10%;
    background-color: #FF2800;
    color: white;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* width:124,98; */
    height:35px;
    border-radius: 1px;
  }
  
  .reset-btn button svg {
    margin-right: 5px;
  }