.my-orders-list {
    min-width:600px;
    
    margin: 0 auto; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  .list-header {
   
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 15px;
    background-color: #FF2800; 
    color: #fff; 
    text-align: start;
    text-transform: capitalize;
  }
  .text-icon{
    max-width: 15%;
    margin: 3px;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    padding: 15px;
    background-color: #FF2800; 
    color: #fff; 
    text-align: start;
    height:30px;
  }

  .list-header h2{
    
 
    background-color: #FF2800; 
    color: #fff; 
    text-align: start;
    text-transform: capitalize;

  }
  .list-header .shop-icon:hover{
    color: #fff; 
    background-color: #FF2800; 

  }
  .list-item {
    padding: 15px;
    border-bottom: 1px solid #ccc; 
    max-width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #555;
  }
  
  .list-item:last-child {
    border-bottom: none;
  }