
.launced-in-201 {
    position: relative;
    line-height: 26px;
    display: inline-block;
    width: 525px;
}
.exclusive-has-mor {
    position: relative;
    line-height: 26px;
    white-space: pre-wrap;
    display: inline-block;
    width: 505px;
}
.launced-in-2015-exclusive-is-paren {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 16px;
    font-family: Poppins;
}
.our-story-paren {
    position: absolute;
    top: 820px;
    left: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: justify;
    font-size: 54px;
    font-family: Inter;
}
.portrait-two-african-females-h-ico {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 837px;
    height: 609px;
    object-fit: cover;
}
.side-imag {
    position: absolute;
    top: 30px;
    left: 700px;
    border-radius: 4px 0px 0px 4px;
    background-color: #eb7ea8;
    width: 705px;
    height: 609px;
    overflow: hidden;
}
.services-ico {
    position: relative;
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.free-and-fas {
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.free-delivery-fo {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.free-and-fast-delivery-paren {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.friendly-247-custome {
    position: relative;
    font-size: 14px;
    line-height: 21px;
}
.customer-service-paren {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.services-grou {
    width: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.full-service {
    position: absolute;
    top: 154px;
    left: 248px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 88px;
    font-size: 20px;
}
.free-and-fast {
    position: relative;
    letter-spacing: 0.04em;
    line-height: 30px;
}
.free-delivery-for {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: Poppins;
    text-align: center;
}
.free-and-fast-delivery-grou {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.frame-di {
    position: absolute;
    top: 30px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.instance-wrappe {
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 270px;
    height: 230px;
    overflow: hidden;
    flex-shrink: 0;
}
.services-parent {
    position: absolute;
    top: 32px;
    left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.instance-containe {
    position: relative;
    border-radius: 4px;
    background-color: #ff4e2f;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    width: 270px;
    height: 230px;
    overflow: hidden;
    flex-shrink: 0;
    color: #fff;
}
.customer-service-grou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.services-parent {
    position: absolute;
    top: 30px;
    left: 4px;
    width: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.services-parent {
    position: absolute;
    top: 30px;
    left: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-grou {
    position: absolute;
    top: 734px;
    left: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    font-size: 32px;
    font-family: Inter;
}

.frame-grou img {
    transition: margin-left 0.3s ease, transform 0.3s ease; 
}

.frame-grou img:hover {
    margin-left: -10px; 
    transform: scale(1.1); 
}
.image-46-ico {
    position: absolute;
    top: 39px;
    left: 67px;
    width: 236px;
    height: 291px;
    object-fit: cover;
}
.image-46-wrappe {
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    width: 270px;
    height: 330px;
    overflow: hidden;
    flex-shrink: 0;
}
.tom-cruis {
    position: relative;
    letter-spacing: 0.04em;
    line-height: 30px;
    font-weight: 500;
}
.founder-chairma {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: Poppins;
}

.image-51-ico {
    position: absolute;
    top: 33px;
    left: 38px;
    width: 294px;
    height: 397px;
    object-fit: cover;
}
.image-47-ico {
    position: absolute;
    top: 38px;
    left: 22px;
    width: 326px;
    height: 392px;
    object-fit: cover;
}
.frame-containe {
    position: absolute;
    top: 1104px;
    left:4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* gap: 0px; */
    font-size: 32px;
    font-family: Inter;
    
}
.frame-chil {
    position: relative;
    border-radius: 50%;
    background-color: #000;
    width: 12px;
    height: 12px;
    opacity: 0.3;
}
.frame-inne {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
}
.ellipse-paren {
    position: absolute;
    top: 2008px;
    left: 663px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.underline-icon {
    position: relative;
    max-height: 100%;
    width: 1440px;
    object-fit: cover;
    opacity: 0.5;
}
.icon-copyrigh {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.icon-copyright-paren {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.frame-wrappe {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.6;
}

.fdiv{
    margin-buttom: 200px;
}
.our-story-paren{
    margin-bottom: 2000px;
    
}



.cov{
    margin-bottom: 2px;
    margin-top: 6;
}
.cov{
    margin-top: 3000px;

}
.im{    position: relative;
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.picc{
     position: relative;
     left: -94.6px;
     box-sizing: border-box;
     width: 939px;
     max-width: 939px;
        padding-left: 94.6px;
        padding-right: 94.4px;
      }
      .cov{
        margin-top: -100px;
      }
      .our-story-paren{
        margin-bottom: -90px;
        left:50px
      }
    
      
      .fugaz-one-regular {
        font-family: "Fugaz One", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .lemon-regular {
        font-family: "Lemon", serif;
        font-weight: 4000;
        font-size: 80px;
        font-style: normal;
      }
  
    
  .par{
    -ms-text-size-adjust: initial;
    margin-top: -65px;
    margin-left: 90px;
  }
  .parr{
    font-size: medium;
  }

  .team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #eeeeee5d;
    padding: 100px;
    margin-left: -60px;
    margin-top: 800px;
    size: medium;
  }
  
  .team-member {
    flex: 0 1 200px; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 03px;
    margin-left: 300px;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s;
    background-color: #c0c0c0; 
  }
  
  .team-member:hover {
    transform: scale(1.1);
  }
  
  .team-member img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .mt-addons-member-section {
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 5px;
    color: #333;
  }
  
  .team-member:hover .social-icons a {
    color: orange;
  }
  
  .mt-addons-member-position,
  .mt-addons-member-url {
    margin-top: 10px;
    font-weight: bold;
  
  }
 
  .team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Team member card */
  .team-member {
    margin-top: -100px;
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s;
    width: 150px; 
    text-align: center;
    left:-500px
  }
  
  .team-member:hover {
    transform: scale(1.1);
  }
  
  .team-member img {
    width: 150px; /* Adjust the image size */
    height: 150px; /* Adjust the image size */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px;
  }
  
  .mt-addons-member-section {
    margin-top: 10px;
  }
  
  .mt-addons-member-name,
  .mt-addons-member-position,
  .mt-addons-member-url {
    margin: 5px 0;
  }
  
  /* Social icons */
  .social-icons a {
    margin: 0 5px;
    color: #333;
  }
  
  .team-member:hover .social-icons a {
    color: orange;
    margin-left: 0;
  }



 
  .vc_custom_heading{
    font-size: 35px;
    color: #222222;
    line-height: 02px;
    text-align: center;
    margin-left: 450px;
  }
  
  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  
  .team-members {
    margin-top: 100px; 
  }
  
  .team-member {
    display: inline-block; 
    margin: 0 40px; 
  }
  
  .mt-addons-member-image img {
    width: 200px; 
    height: 200px; 
    border-radius: 30%;
    object-fit: cover;
  }
  .center-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top:-300px; 
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.center-heading {
    margin: 0 auto;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: -300px;
}

.image-gallery img {
    width: 200px;
    height: auto;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
  transform: scale(1.2); /* Adjust the scale factor for the hover effect */
  filter: brightness(1); /* 1 is the default, making it clear */
}
.container{
  margin-top: -300px;
}
.info{margin-top: 20px;}
.imginf{  border-radius: 8px;
  max-width: 100%;
   height: auto;
  margin-left: 270px;
margin-top: 40px;
transition: transform 0.3s ease-in-out;
}
.lp{
  margin-top: -20px;
}
