.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 760px;
    margin-top:20px;
    margin-bottom: 20px;
}
.withdraw-button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.dokan-panel-default {
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    margin-left: 25%;
    max-height: 400px;
}

.dokan-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.payment h3{
    font-weight: 600;
}
.payment p{
    font-family: Nunito;
    line-height: 24px;
    font-weight: 400;
    color: #262626;
    font-size: 15px;
}
.methods p{
    font-family: Nunito;
    line-height: 24px;
    font-weight: 400;
    color: #262626;
    font-size: 15px;
}
.methods p span{
    color: #333;
    font-weight: 600;
}
.dokan-panel-body {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
   
    border-color: #ddd;
}
.methods{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.withdraw-button {
    border-color: #FF2800;
    background-color: #FF2800;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    padding: 12px 30px;
    font-weight: 800;
    text-transform: capitalize;
    border: 2px solid;
    border-radius: 5px;
}