.itemInfo {
    display: flex;
    /* width: 1000px; */
    /* background-color: aliceblue; */
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/* Your global CSS file */
.red-icon {
    color: red;
    font-size: 5px;
}