.summary {
    margin-top: 50px;
    margin-right: 50px;
    /* float: left; */
    width: 100%;
    /* margin-left: 20px; */
    /* margin-left: 0 !important; */
    /* margin-bottom: 2em; */
}

.price {


    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    width: 100%;
    /* color: #FF2800 */
}

.currentc {
    color: #242424;
}

.auction-price {}

.current {
    font-size: 24px !important;
    font-weight: 700;
}

.curren {
    font-size: 15px !important;
    font-weight: 600;
    gap: 10px;
}


.auction-time {
    font-weight: 300;
    color: #606060;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.main-auction {
    padding: 5px;
    font-size: 11px;
}

.auction-end {
    margin-bottom: 25px;
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
}

.auction-end p {
    font-family: Nunito;
    line-height: 24px;
    font-weight: 400;
    color: #262626;
    font-size: 15px;
    font-size: 15px;
    line-height: 150%;
    font-weight: 400;
    color: #262626;
}



.countdown_row {
    display: flex;

    align-items: center;

}

.amount {
    display: flex;


}


.bid {
    margin-right: auto;
    /* margin-left: 90px; */
}



.bidFlex {
    display: flex;
    justify-content: space-between;
}

.priceinput:hover {
    background-color: #f0f8ff;
}



.priceinput {
    margin-left: 20px;
    /* border: 1px solid black; */
    width: 165px;
    padding: 12px;
    border: 2px solid #EF4444;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

.priceinput:focus {
    border-color: #e43d3d;
    box-shadow: 0 0 15px rgba(247, 166, 145, 0.5);
    transform: scale(1.02);
}

/* Placeholder Styling */
.priceinput::placeholder {
    color: #aaa;
    font-style: italic;
}

.plus {
    margin-left: 16px;
}